{% extends 'wandercritic/base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<section class="main-content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                    <h1 class="h1">Report a bug of the page{{ report.url }} </h1>
                    <p class="text-muted">Use this form to report any issues or bugs with this page.</p>

                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="url" class="control-label">Page URL</label>
                            <input type="text" class="form-control" value="{{ url }}" readonly>
                        </div>
                        
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary">Submit Report</button>
                    </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
