{% extends 'wandercritic/base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<section class="main-content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="h2">Report Review for "{{ review.comment|truncatewords:10 }}"</h1>
                <p class="text-muted">Use this form to report the review below.</p>
                
                <h3>Review Details</h3>
                <!-- <p><strong>Review ID:</strong> {{ review.id }}</p> -->
                <p><strong>Review Content:</strong> {{ review.comment }}</p>
                <p><strong>Reviewed by:</strong> {{ review.user.username }}</p>

                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary">Submit Report</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}